header
    //background-color: #212529
    position: fixed
    top: 0
    left: 0
    right: 0
    padding: 35px 0
    .imgbox
        width: 200px
        img
            cursor: pointer
    .btn
        padding: 10px 17px
        border: 1px solid #bbbaba
        h6
            color: #ffff
            margin-right: 11px
        .icon
            i
                color: #ffff
    .menu
        nav
            padding-top: 5px
            a
                cursor: pointer
                font-size: 20px
                margin-right: 20px
                color: #ffff
                transition: 0.2s
                &:hover
                    color: #fd7e14
