#services
    .box
        text-align: center
        h1
            font-size: 45px
            font-weight: 700
            color: #000
        h3
            font-size: 20px
            color: #6c757d
            font-style: italic
            margin: 20px 0 40px
    .textbox
        text-align: center
        .icon
            position: relative
            left: 115px
            background-color: #ffc800
            border-radius: 50%
            padding: 26px
            width: 129px
            i
                font-size: 70px
                color: #ffff
        h2
            font-size: 27px
            font-weight: 700
            color: #000
            margin: 15px 0 20px
        p
            font-size: 18px
            line-height: 1.4
            color: #6c757d
    .wid
        width: 325px
    @media screen and ( max-width: 992px )
        .textbox
            padding-right: 100px
            .icon
                left: 47px
    @media screen and ( max-width: 768px )
        .textbox
            display: flex
            flex-direction: column
            padding: 0 54px 50px 144px
        .wid
            width: 420px
    @media screen and ( max-width: 576px )
        
        
